// slider styles

 html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  min-width: 320px;
  min-height: 154px;
  background-color: #F8F8F8;
}
      .body__swiper-container {
        padding: 16px;
      }
      .swiper-wrapper {
        background-color: #F8F8F8;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
         background-color: #FFFFFF;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide {
        width: 240px;
        height: 72px;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .swiper-slide__button {
        width: 38px;
        height: 38px;
        border: 2px solid #FF3E79;
        border-radius: 20px;
        background: #FFFFFF url(https://i.ibb.co/4WPPpw4/dropdown.png) no-repeat center;
      }
      .swiper-pagination {
        top: 104px;
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #754e4e;
      }
      .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
      }
      
// block styles

@font-face {
  font-family: 'TT Lakes';
  src: url(TTLakes-Regular.woff);
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url(TTLakes-Medium.woff);
}
      
body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'TT Lakes';
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'TT Lakes';
}
.title {
  display: flex;
  align-items: center;
  min-width: 320px;
  height: 80px;
  background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
}
.title__text {
  font-size: 16px;
  color: #7E7E82;
  margin: 16px;
  font-family: 'TT Lakes Medium';
}
.swiper-container__button {
  display: none;
  font-size: 16px;
  font-family: 'TT Lakes Medium';
}


@media (min-width: 768px) {

.title__text {
  margin: 24px;
}
.body__swiper-container {
  padding: 0px;
}
.swiper-slide {
  flex: 0 0 224px;

  margin-bottom: 16px;
  margin-right: 24px;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 184px;
  width: 768px;
  padding-left: 24px;
  padding-top: 24px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s ease;
}
.swiper-pagination {
  display: none;
}
.swiper-container__button {
  position: relative;
  border: none;
  background: none;
  margin-left: 57px;
  margin-top: 24px;
}
.swiper-container__button::before {
  content: url(https://i.ibb.co/LnWbYpf/image.png);
  position: absolute;
  left: -16px;
}
.large {
  height: 360px;
}
.swiper-container__button {
  display: block;
}
.arrows-top::before {
    content: url(https://i.ibb.co/52vTjKq/image.png);
  }
}



@media (min-width: 1120px) {

  .title__text {
  margin: 32px;
  }

  .swiper-wrapper {
    width: 1120px;
    padding-left: 32px;
  }
  .swiper-slide {
    margin-right: 32px;
    flex: 0 0 240px;
  }
  .large {
    height: 272px;
  }

}