body {
  margin: 0;
  font-weight: normal;
  overflow-x: auto;
  font-size: 14px;
  width: 320px;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'TT Lakes';
}
.size {
  width: 320px;
}
.header-wrapper {
  height: 13vh;
  width: 1300px;
  background: #FFFFFF;
}
.header {
  display: flex;
  height: 13vh;
  padding: 15px;
  background: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  }
  .logo-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    width: 180px;
  }
  .tools-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    width: 90px;
  }

.header__button {
  height: 40px;
  width: 40px;
  background: #FF3E79;
  border-radius: 50%;
  padding-top: 5px;
  border: 0px;  
}
label[for='tools'], label[for='search'] {
  display: none;
}
.header__vertical-line {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #EAEAEA;
}
.main {
  height: 87vh;
  width: 1300px;
  background: #F8F8F8;
  padding-top: 3vh;
}
.title {
  height: 40px;
  font-size: 2rem;
  display: flex;
  align-items: center; 
}
.title__vertical-line {
  width: 4px;
  height: 40px;
  background: #41F6D7;
  border-radius: 0 70% 70% 0;
  display: inline-block;
  margin-right: 0.5em;
}
.title__text {
  display: inline-block;
}
.menu {
  display: flex;
  margin-top: 3vh;
  margin-left: 20px;
}
input {
  display: none;
}
.menu__button {
  display: flex;
  box-sizing:content-box;
  padding: 5px 15px;
  font-weight: normal;
  color: #7E7E82;
 height: 30px;
 font-size: 1.1rem;
 margin-right: 10px;
 text-align: center;
}
span {
  display: inline-block;
  margin: auto; 
}
.menu__input:checked + .menu__button {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
 border-radius: 6px;
}
.menu__text {
  display: none;
  font-size: 1rem;
  line-height: 18px;
  width: 280px;
  margin-top: 3vh;
  font-weight: normal;
}
.menu__input:checked ~ .menu__text {
  display: block;
}
.menu__read-more-button {
  display: inline-block;
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 3vh;
}
.menu__read-more-button::before {
  content: '^';
  display: inline-block;
  transform: rotate(180deg);
  font-size: 0.9rem;
  color: #c6c6c7;
  margin: 0 7px 0 13px;
}
.menu__read-more-button::after {
  content: '^';
  display: inline-block;
  transform: rotate(180deg);
  position: relative;
  right: 134px;
  bottom: 7px;
  font-size: 0.9rem;
  color: #c6c6c7;
}
.main__image-wrapper {
  width: 1300px;
  height: 177px;
  margin-top: 2vh;
}
.main__image {
  width: 320px;
  height: 177px;
  background: url(https://i.ibb.co/Ph0NqBn/image-cps.jpg);
  position: fixed;
}






@media screen and (device-width: 768px) {
 
body {
  width: 768px;
}   
.size {
  width: 768px;
}
.header-wrapper {
  width: 768px;
}
.header {
  align-items: center;
  position: static;
}
.tools-search-wrapper {
    width: 320px;
}
.header__button {
  height: 50px;
  width: 50px; 
}
.logo {
  order: 1;
}
label[for='tools'], label[for='search'] {
  display: inline-block;
}
#tools {
  margin-right: 20px;
}
.main {
  height: 87vh;
  width: 768px;
  background: #F8F8F8;
  padding-top: 3vh;
}
.menu__button {
  padding: 3px 10px;
 font-size: 1rem;
 margin-right: 5px;
 box-sizing: border-box;
 height: 70px;
}
.button-wrapper:first-child {
  width: 260px;
}
.menu__input:checked ~ .menu__text {
  display: none;
}
.menu__text.first-text {
  display: block !important;
}
.menu__text {
  display: none;
  font-size: 1rem;
  line-height: 23px;
  width: 280px;
  margin-top: 100px;
  font-weight: normal;
}
.menu__input:checked + .menu__button {
  height: 70px;
}
.main__image-wrapper {
  width: 365px;
  height: 210px;
  margin-top: 4vh;
  display: inline-block;
  position: relative;
  left: 370px;
  bottom: 230px;
}
.main__image {
  width: 365px;
  height: 210px;
  background: url(https://i.ibb.co/F5jvHMn/image-768.jpg);
  position: static;
}
}




@media screen and (device-width: 1120px) {
body {
  width: 1120px;
}
.size {
  width: 1120px
}
.header-wrapper {
  width: 1120px;
}
.header {
  align-items: center;
  position: static;
}
.tools-search-wrapper {
    width: 320px;
}
.header__button {
  height: 50px;
  width: 50px; 
}
.logo {
  order: 1;
}
label[for='tools'], label[for='search'] {
  display: inline-block;
}
#tools {
  margin-right: 20px;
}
.main {
  height: 87vh;
  width: 1120px;
  background: #F8F8F8;
  padding-top: 3vh;
}
.button-wrapper:first-child {
  width: 260px;
}
.menu__button {
 font-size: 1rem;
 margin-right: 10px;


}
.menu__input:checked ~ .menu__text {
  display: none;
}
.menu__text {
  display: none;
  font-size: 1rem;
  line-height: 23px;
  margin-top: 100px;
  width: 400px;
}
.menu__read-more-button {
  display: block;
  margin-top: 30px;
}
.menu__text.first-text {
  display: block !important;
}

.main__image-wrapper {
  width: 538px;
  height: 312px;
  margin-top: 4vh;
  display: inline-block;
  position: relative;
  left: 520px;
  bottom: 230px;
  
}
.main__image {
  width: 538px;
  height: 312px;
  background: url(https://i.ibb.co/BNyVLtb/image-1120.jpg);
  position: static;
}
}




