html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background-color: #EFF6FF;
  font-family: barlow, sans-serif;
}
.main {
  background-color: white;
  margin: 80px 50px 80px 50px;
  height: 1000px;
  padding: 1px;
}
.man {
  float: left;
  width: 759px;
  height: 1000px;
  background-image: url(https://raw.githubusercontent.com/jm-program/css-task/master/img/bg.jpg);
}
.amo {
  width: 20%;
  margin: 4em;
}
.girl {
  height: 600px;
  margin-left: 53.5em;
  margin-top: 7em;
}
.font {
  font-size: 25px;
  color: #adadad;
}
.fb {
  background-image: url(https://raw.githubusercontent.com/jm-program/css-task/236629ad7226d4d4ba0cdc05160c9d181a1d1807/img/facebook.svg);
  background-size: 7%;
  background-position: left 10% top 50%;
  background-repeat: no-repeat;
  background-color: #255A9B;
  width: 400px;
  height: 50px;
  color: white;
  margin-top: 40px;
  margin-right: 25px;
}
.ln {
  background-image: url(https://raw.githubusercontent.com/jm-program/css-task/236629ad7226d4d4ba0cdc05160c9d181a1d1807/img/linkedin.svg);
  background-size: 7%;
  background-position: left 10% top 50%;
  background-repeat: no-repeat;
  background-color: #0076B6;
  width: 400px;
  height: 50px;
  color: white;
  margin-top: 40px;
}
hr {
  margin-top: 70px;
  margin-right: 36.5%;
  width: 350px;
  border: none;
    border-top: 1px solid rgb(214, 214, 214);
    overflow: visible;
    text-align: center;
}
hr:after {
    background: #fff;
    content: 'OR';
    padding: 0 7px;
    position: relative;
    top: -25px;
    font-size: 12px;
    color: black;
}
.email {
  width: 400px;
  height: 60px;
  font-size: 60%;
  margin-right: 25px;
  border: 1px solid rgb(214, 214, 214);
}
.email::placeholder {
position: relative;
top: -15px;
left: 7px;
}
.phone {
  width: 400px;
  height: 60px;
  font-size: 60%;
  border: 1px solid rgb(214, 214, 214);
}
.phone::placeholder {
position: relative;
top: -15px;
left: 7px;
}
h2 {
  font-size: 25px;
  margin-top: 5%;
}
h3 {
  font-size: 17px;
  color: #adadad;
}
.radio {
  margin-top: 5%;
  font-size: 60%;
}
.rad {
  width: 150px;
  margin-right: 60px;
  float: left;
}
.rad1 {
  width: 300px;
  float: left; 
}
.note {
  visibility: hidden;
  font-size: 14px;
  color: rgb(185, 185, 185);
  width: 150px;
}
a {
    font-size: 15px;
  }
a:focus + .note {
 visibility: visible; 
}
.check {
  margin-top: 100px; 
}
.terms {
  font-size: 14px;
  color: rgb(185, 185, 185);
}
.a {
  font-size: 14px; 
}
.account {
  background-color: #3698FB;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 60%;
  margin-top: 70px;
}