* {
  box-sizing: border-box;
  font-family: 'TT Lakes Medium';
  list-style-type: none;
}
@font-face {
  font-family: 'TT Lakes';
  src: url(TTLakes-Regular.woff);
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url(TTLakes-Bold.woff);
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url(TTLakes-Medium.woff);
}
.aside {
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  padding-top: 19px;
  padding-bottom: 32px;
  font-size: 16px;
}
.aside--shadow {
  box-shadow: 0px 0px 60px 20px #d0d3e0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  height: 40px;
  width: 40px;
  border: 0px;  
  transition: all 0.7s ease;
}
.button--style--red {
  background: #FF3E79;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.button--close {
  background-image: url(https://i.ibb.co/QcnytNf/X.png);
}
.button--image {
  width: 101px;
  height: 55px;
  border-radius: 40%;
  background-image: url(https://i.ibb.co/QKRGJPZ/cps.png);
}
.header__button {
  margin-left: -40px;
}
.button--search {
  background-image: url(https://i.ibb.co/fdY5vqF/Sher.png);
}
.button--style--red:hover {
  filter: invert(0.9) brightness(1.4);
}
.button:hover {
  transform: scale(1.1);
}
.menu {
  padding: 0;
}
.aside__menu {
  margin-top: 45px;
}
.vertical-line {
  display: inline-block;
  width: 4px;
  height: 32px;
  background: #41F6D7;
  border-radius: 0 5px 5px 0;
}
.m-button__vertical-line {
  margin-right: 20px;
  visibility: hidden;
}
.m-button__input {
  display: none;
}
.m-button {
  display: flex;
  align-items: center;
}
.menu__m-button {
  margin-bottom: 24px;
}
.m-button__input:hover + .m-button__vertical-line {
  visibility: visible;
}
.m-button__input:checked + .m-button__vertical-line {
  visibility: visible;
}
.m-button__input:checked ~ .m-button__text {
  color: #7E7E82;
}
.aside__contacts {
  margin-left: 24px;
}
.button--phone {
  background-image: url(https://i.ibb.co/19c8x99/image.png);
}
.button--message {
  background-image: url(https://i.ibb.co/LPCv9CZ/image.png);
}
.button--profile {
  background-image: url(https://i.ibb.co/KrF1ptZ/image.png);
}
.contacts__button {
  margin-right: 16px;
}
.company-mail {
  display: block;
}
.contacts__company-mail {
  margin-top: 16px;
  margin-bottom: 12px;
  text-decoration: none;
  color: #1B1C21;
}
.contacts__number {
  font-size: 24px;
  line-height: 32px;
  font-family: 'TT Lakes Bold';
}
.contacts__languages {
  margin-top: 40px;
}
.contacts__language {
  text-decoration: none;
  color: #1B1C21;
  margin-right: 5px;
}
.contacts__language:focus {
  color: #7E7E82;
}
